@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    
    background-color: lemonchiffon;
    font-family:  'Open Sans Condensed', sans-serif;
}

main {
    min-height: 200vh;
    width: 100%;
    background-image: url("forest.jpg");
    display: flex;
    flex-direction: column;
}

.info-container{
    display: flex;
    background-color: none;
    padding: 1em;
    width: 100%;
    justify-content: center;
    position: fixed;
    
}

.contact-info {
    display: flex;
    place-content: space-between;
    justify-content: flex-end;
    color: white;
    
}

#backdrop {
    height: 1000px;
    width: 1000px;
}

h1 {
    color: white;
}

a {
    color: rgb(48, 46, 46);
    text-decoration: None;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


section {
    padding: 2em;

}
#linkedin-logo {
    height: 30px;
    width: 25px;
    margin-left: 10px;
}

.linkedin {
    
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}



section {
    background-image: url("forest.jpg");
}

.header {
    height: 300px;
    width: 100%;
    background-color: none;
    justify-content: center;
    color: white;
    text-align: center;
    text-shadow: forestgreen ;

}

h1 {
    font-weight: bold;
    font-size: 40px;
    
}

.header-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}



#footer1{
    margin-top: auto;
    border: none;
    height: 50px;
    background-color: white;
    text-align: center;
}

#footer{

    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    border: none;
    height: 50px;
}

.footer-container{
   position: fixed;
   bottom:0;
   width:100%;
   height:60px;
   text-align: center;
}